{% extends "base.html" %}

{% block content %}
    <h2> Start an order </h2>

    <form action="/save_order/" method="post" accept-charset="utf-8">
        
        <label for="order_name">Order name:</label><input type="text" name="order_name" value="" id="order_name" />
        <label for="order_description">Order description:</label><input type="text" name="order_description" value="" id="order_description" />


        <label for="from_location">From location:</label>
        <select name="from_location" id="from_location" />
          {% for restaurant in restaurants %}
          <option value={{ restaurant.rid }}> {{ restaurant.name }} </option>
          {% endfor %}
        </select>


        <label for="to_location">To location:</label>
        <select name="to_location" id="to_location" />
          {% for location in locations %}
          <option value={{ location }}> {{ location }} </option>
          {% endfor %}
        </select>



        <label for="timeout">In how many minutes do you plan on actually ordering?</label><input type="text" name="timeout" value="" id="timeout" />
        <br />
        <br />
        <p><input type="submit" value="Start an order" class="nice medium radius blue button"></p>
    </form>

{% endblock %}
